################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/WivaldyBot/bin
/WivaldyBot/obj/Debug
/.vs/WivaldyBot/v14/.suo
/WivaldyBot/botSettings.config
/WivaldyBot/obj/Release
/WivaldyBot/Properties/PublishProfiles
